<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.seemingamusing.android.playground"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".footer.FooterActivity"
      android:exported="true"
      android:label="@string/sample_footer"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".bottomsheet.BottomSheetActivity"
      android:exported="true"
      android:label="@string/sample_bottom_sheet"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme" />

    <activity
      android:name=".topbar.TopBarActivity"
      android:exported="true"
      android:label="@string/sample_top_bar"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme" />

    <activity
      android:name=".stack.StackingActivity"
      android:exported="true"
      android:label="@string/sample_stacking"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme" />

  </application>

</manifest>